[Desktop Entry]
Name=MacKeys Configurator
Exec=mackeys-configurator
Icon=mackeys-configurator
Type=Application
Categories=Utility;
Comment=Configure your MacKeys keyboard
Terminal=false
